// Codigo aquí
html {
    --darkBlue-300: #{$darkBlue-300};
    --lightBlue-100: #{$lightBlue-100};
    --gray-500: #{$gray-500};
    --gray-400: #{$gray-400};
    --graySvg: #495057;

    background-color: var(--lightBlue-100);
}

// DarkBlue-300 => alura icono, texto del textArea, btn encriptar, border y letra del btn desencriptar
// LightBlue-100 => background document, letra del btn encriptar, background del btn desencriptar
// Gray-500 => letra del "ningun mensaje fue encontrado"
// Gray-400 => letra de la alerta "solo letras minusculas...", "Ingresa el texto que deseas encriptar o desencriptar." y el mensaje encriptado

html[data-theme="dark"] {
    --darkBlue-300: #{$lightBlue-100};
    // --lightBlue-100: #{$darkBlue-300};
    --lightBlue-100: #292929;
    --gray-500: #{$gray-500};
    --gray-400: #{$gray-300};
    --graySvg: #{$gray-100};

    // background-color: #232323;
}

body {
    & main {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 1fr 100%;
        @include desktop {
            width: 95%;
            display: grid;
            grid-template-columns: 2fr 1fr;
            column-gap: 5rem;
            grid-template-rows: auto;
        }
        & article {
            & header {
                padding: 2rem 0 0;
                display: flex;
                justify-content: space-between;
                & svg {
                    & path {
                        fill: var(--darkBlue-300);
                    }
                }
                @include tablet {
                    padding: 6rem 0 0;
                }
                @include desktop {
                    padding: 2rem 0 0;
                }
            }

            & .input {
                margin-top: 6rem;
                @include tablet {
                    margin-top: 10rem;
                }
                @include desktop {
                    margin-left: 15rem;
                }
                h1 {
                    text-decoration: underline;
                    color: var(--darkBlue-300);
                }
                &__wrap {
                    display: flex;
                    align-items: flex-start;
                    @include desktop {
                        column-gap: 1rem;
                    }
                    & .textarea {
                        color: var(--darkBlue-300);
                        height: 30rem;
                        font-size: 3.2rem;
                        background-color: var(--lightBlue-100);
                        border: none;
                        resize: none;
                        &::placeholder {
                            color: var(--darkBlue-300);
                            text-decoration: underline;
                        }
                        &:focus {
                            outline: none;
                        }
                        @include desktop {
                            height: 57vh;
                        }
                    }
                    & svg {
                        margin-top: 0.9rem;
                        width: 3rem;
                        & path {
                            fill: var(--darkBlue-300);
                        }
                        &:hover {
                            cursor: pointer;
                            & path {
                                fill: #ff8787;
                            }
                        }
                    }
                }
                // background-color: $darkBlue-200;
                & .alerta {
                    display: flex;
                    column-gap: 1rem;
                    align-items: center;
                    & svg {
                        & path {
                            fill: var(--graySvg);
                        }
                    }
                    & p {
                        font-size: 1.2rem;
                        color: var(--gray-400);
                        text-decoration: underline;
                    }
                }
                & .encript__buttons {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2rem;
                    @include tablet {
                        flex-direction: row;
                        column-gap: 1rem;
                    }
                    & .boton {
                        padding: 2.4rem;
                        border-radius: 2.4rem;
                        text-decoration: underline;
                        font-size: 1.6rem;
                        &:hover {
                            text-decoration: underline;
                        }

                        @include tablet {
                            width: 100%;
                            text-decoration: none;
                        }
                        &.encriptar {
                            background-color: var(--darkBlue-300);
                            color: var(--lightBlue-100);
                        }
                        &.desencriptar {
                            background-color: var(--lightBlue-100);
                            color: var(--darkBlue-300);
                            border: 1px solid var(--darkBlue-300);
                        }
                    }
                }
            }
        }
    }
    & .contenedor-msj {
        position: relative;
        height: max-content;
        margin-top: 6.4rem;
        background-color: $white;
        padding: 3.2rem;
        border-radius: 3.2rem;
        box-shadow: 0 2px 3rem rgba(0, 0, 0, 0.25);
        text-align: center;
        & .img {
            display: none;
        }
        & h2 {
            text-decoration: underline;
            font-size: 2.4rem;
            font-weight: bold;
            color: var(--gray-500);
        }
        & p {
            font-size: 1.6rem;
            color: var(--gray-400);
            text-decoration: underline;
        }
        & #resultado {
            background-color: $white;
            margin: 0;
            font-size: 2.4rem;
            text-decoration: none;
            height: 100%;
            &:focus {
                outline: none;
            }
        }
        & .copiar {
            margin-top: 3.2rem;
            color: $darkBlue-300;
            padding: 2.4rem;
            width: 100%;
            border-radius: 2.4rem;
            border: 1px solid $darkBlue-300;
            &:hover {
                text-decoration: underline;
            }
        }
        @include tablet {
            text-decoration: none;
        }
        @include desktop {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 90vh;
            width: 40rem;
            justify-self: end;
            margin-top: 2rem;
            & .img {
                display: block;
            }
            & h2 {
                margin-top: 2rem;
            }
        }
    }
    footer {
        margin-top: 2rem;
        text-align: center;
        & p {
            color: var(--darkBlue-300);
            margin: 1rem 0;
        }
        & a {
            color: var(--darkBlue-300);
            font-weight: 700;
        }
        @include desktop {
            margin-top: 0;
        }
    }
}
textarea {
    width: 100%;
    border: none;
    resize: none;
}

body::after {
    content: var(--content);
}

// Mover la alerta por encima del documento de abajo hacia arriba
#copiar-alerta {
    font-size: 1.2rem;
    position: absolute;
    z-index: 100;
    margin: 0;
    width: max-content;
    user-select: none;
    bottom: 11rem;
    left: calc(50% - 5rem);
    color: #36b167;
    background: #d4ffe5;
    padding: 1rem;
    text-decoration: none;
    border-radius: 1rem;
    animation: copiar-alerta 2s ease-in-out;
}

// Animacion de la alerta
@keyframes copiar-alerta {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    10% {
        opacity: 1;
        transform: translateY(0rem);
    }
    90% {
        opacity: 1;
        transform: translateY(0rem);
    }
    100% {
        opacity: 0;
        transform: translateY(1rem);
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}
